form {
  margin: 0;
  .container-inline {
    > .form-item {
      display: inline-block;
    }
  }
}

fieldset.form-wrapper {
  margin: ms(1) 0;
  padding: ms(1) ms(1) 0 ms(1);
  fieldset.form-wrapper {
    margin: 0;
    padding: 0;
  }
}

fieldset.form-item.form-composite {
  margin: 0 0 ms(0) 0 !important;
  legend {
    display: inline-block;
    @include mb;
    span.fieldset-legend {
      display: inline-block;
    }
  }
}

.ui-widget {
  font-family: inherit;
  font-size: inherit;
}

input {
  &[type="text"], &[type="search"], &[type="submit"], &[type="button"] {
    border: 0px none transparent;
    padding: 0 ms(-1);
    margin: 0;
    @include box-shadow(0px,0px,0px,1px,'#cccccc',inset);
  }
  &[type="text"], &[type="search"] {
    background-color: #ffffdd;
    line-height: ms(5);
    height: ms(5);
  }
  &[type="search"] {
    padding: 0 17px 0 10px;
  }
  &[type="submit"], &[type="button"] {
    background-color: #ffffcc;
    line-height: ms(5);
    height: ms(5);
  }
}

.js input.form-autocomplete {
  border: 0px none transparent;
  background-position: calc(100% - 3px) center;
  padding: 0 ms(2) 0 ms(-1);
  &.ui-autocomplete-loading {
    background-position: calc(100% - 3px) center;
  }
}

