/**
 * _layout.scss
 *
 * Layout components.
 */

body {
  #teatheme {
    margin: 0;
  }
}

// MOBILE = @include breakpoint(0 $break1) {
// TABLET = @include breakpoint($break1 $break2) {
// DESKTOP = @include breakpoint($break2 $break3) {
// WIDESCREEN = @include breakpoint($break3, true) {

// breakpoint values

$break0end: 679px;
$break1start: 680px;
$break1width: 640px;
$break1end: 999px;
$break2start: 1000px;
$break2width: 960px;
$break2end: 1319px;
$break3start: 1320px;
$break3width: 1280px;

// breakpoints

@include breakpoint(0 $break0end) {
  #teatheme {
    .region {
      .region-inner {
        max-width: 100%;
        padding: ms(0) ms(0) 0 ms(0);
      }
    }
  }
}

@include breakpoint($break1start $break1end) {
  #teatheme {
    .region {
      .region-inner {
        max-width: $break1width;
        padding: ms(0) ms(0) 0 ms(0);
      }
    }
  }
}

@include breakpoint($break2start $break2end) {
  #teatheme {
    .region {
      .region-inner {
        max-width: $break2width;
        padding: ms(0) ms(0) 0 ms(0);
      }
    }
  }
}

@include breakpoint($break3start, true) {
  #teatheme {
    .region {
      .region-inner {
        max-width: $break3width;
        padding: ms(0) ms(0) 0 ms(0);
      }
    }
  }
}
