a {
  text-decoration: none;
  display: inline-block;
  &:link {
    color: $link-color-default;
  }
  &:hover {
    color: $link-color-hover;
  }
  &:active {
    color: $link-color-active;
  }
  &:focus {
    color: $link-color-active;
  }
  &:visited {
    color: $link-color-default;
  }
  div {
    color: $link-color-default;
    &:hover {
      color: $link-color-hover;
    }
  }
}

a.is-active {
  &:link {
    color: $link-color-currentpage;
  }
  &:visited {
    color: $link-color-currentpage;
  }
}

  article {
    a {
      text-decoration: underline;
      // border-bottom: 1px solid #ccc;
      &:visited {
        color: $link-color-visited;
      }
    }
    h1, h2, h3, h4, h5, h6 {
      a {
        text-decoration: none;
        &:visited {
          color: $link-color-default;
        }
      }
    }
  }

  a#main-content {
    @include visually-hidden;
  }

  .field--name-body {
    a {
      text-decoration: underline;
    }
  }



  .tabs {
    a, a.is-active {
      padding: 0;
      background-color: transparent;
      &:hover {
        background-color: transparent;
      }
    }
  }

  .feed-icons {
    @include mb;
    a.feed-icon {

    }
  }

  .node__links {
    @include clearfix;
  }

  a.skip-link.visually-hidden.focusable {
    &:focus, &:active {
      display: inline-block;
      width: auto;
      margin: ms(1);
      background-color: #fff;
      text-align: center;
    }
  }
