#teatheme {

  nav {
    ul.menu {
      li.menu-item {
        &:focus {
          background-color: transparent;
        }
        &:hover {
          background-color: transparent;
        }
        &.menu-item--expanded {
          background-color: transparent;
          ul.menu {
            background-color: transparent;
          }
        }
      }
    }
    &.breadcrumb {
      padding-bottom: 0;
      ol {
        @include list-plain;
        li {
          float: left;
          clear: none;
          a {
            display: inline-block;
            width: auto;
            @include mb;
            margin-right: 4px;
          }
        }
      }
    }
  }

  article {
    ul, ol {
      li {
        @include mb;
      }
    }

  }

  ul.inline, ol.inline {
    @include list-plain;
    li {
      float: left;
      clear: none;
      a {
        @include link-box;
        margin-right: ms(2);
      }
    }
  }

  .item-list {
    > ul, > ol {
      @include mb;
      padding: 0;
      li {
        margin: 0;
        padding: 0;
      }
    }
  }

}
