#teatheme {
  nav {
    font-size: ms(2);
    line-height: ms(3);
    &.block-menu {
      position: relative;
      @include menu-nested;
      ul.menu {
        li {
          a {
            @include link-box;
          }
        }
      }
    }
    &.menu-teamenu {
      ul.menu {
        @include list-plain-inline;
      }
    }
    &.menu-not-teamenu {
      ul.menu {
        @include list;
      }
    }
    &:not(.menu-not-teamenu), &:not(.menu-teamenu) {
      ul.menu {
        @include list;
      }
    }
    &:not(.menu-teamenu) {
      ul.menu {
        @include list-plain;
        margin-left: ms(3);
      }
    }
  }
}

#toolbar-administration {
  nav {
    &.toolbar-lining {
      ul.menu {
        margin: 0;
      }
    }
  }
}


