.region {
  border-bottom: 1px solid #e3e3e3;
  .region-inner {
    margin: 0 auto 0 auto;
    @include clearfix;
    @include breakpoint($break1start, true) {
      border-left: 1px solid #e3e3e3;
      border-right: 1px solid #e3e3e3;
    }
  }
  &.region-secondary-menu {
    background-color: #efefef;
    .region-inner {
      background-color: #efefef;

    }
  }
  &.region-header {
    background-color: #f9f9f9;
    .region-inner {
      background-color: #ffffff;
    }
  }
  &.region-primary-menu {
    background-color: #efefef;
    .region-inner {
      background-color: #efefef;
    }
  }
  &.region-content {
    background-color: #f9f9f9;
    .region-inner {
      background-color: #ffffff;
    }
  }
  &.region-footer {
    background-color: #efefef;
    .region-inner {
      background-color: #efefef;
    }
  }
}
