/*

// search block form:

<div class="search-block-form contextual-region block block-search" data-drupal-selector="search-block-form" id="block-tea-searchform" role="search">
<form action="/search/node" method="get" id="search-block-form" accept-charset="UTF-8" class="form-autocomplete ui-autocomplete-input" data-id="search_block" autocomplete="off" data-drupal-form-fields="edit-keys">
<div class="js-form-item form-item js-form-type-search form-type-search js-form-item-keys form-item-keys form-no-label">
<label for="edit-keys" class="visually-hidden">Search</label>
<input title="Enter the terms you wish to search for." data-drupal-selector="edit-keys" class="form-autocomplete form-search ui-autocomplete-input" data-key="search_block" type="search" id="edit-keys" name="keys" value="" size="15" maxlength="128" autocomplete="off">
<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
<input data-drupal-selector="edit-submit" type="submit" id="edit-submit" value="Search" class="button js-form-submit form-submit">

  */

#search-block-form, #search-form, #search-api-page-block-form {
  @include clearfix;

  // note the .form-item could also be a fieldset
  div.form-item {
    margin: 0 0 ms(0) 0;
  }

  .form-actions {
    display: inline-block;
    margin: 0 0 ms(0) 0;
  }

}

#search-block-form, #search-api-page-block-form {
  div.form-item {
    display: inline-block;
  }
}

.ui-menu {
  .ui-menu-item {
    padding: 0 0 ms(0) 0;
  }
  .ui-menu-divider {
    display: none;
  }
}
