html {
  font-size: ms(2);
  line-height: ms(2);
}
#teatheme {
  font-family: sans-serif;
  font-size: ms(2);
  line-height: ms(2);
  color: #444444;
}
  .site-name {
    font-size: ms(3);
    line-height: ms(3);
    a {
      display: inline-block;
    }
  }
  h1, h2 ,h3, h4, h5, h6 {
    margin: 0 0 ms(0) 0;
    display: inline-block;
    font-weight: normal;
    a {
      display: inline-block;
    }
  }
  h1 {
    font-size: ms(5);
    line-height: ms(5);
  }
  h2 {
    font-size: ms(4);
    line-height: ms(4);
    .block-menu & {
      font-size: ms(2);
      line-height: ms(3);
    }
    .menu-teamenu &, .menu-not-teamenu & {
      margin: 0 ms(-6) ms(0) 0;
      display: inline-block;
      float: left;
    }
  }
  h3 {
    font-size: ms(3);
    line-height: ms(3);
  }
  h4 {
    font-size: ms(2);
    line-height: ms(2);
  }
  h5 {
    font-size: ms(2);
    line-height: ms(2);
  }
  h6 {
    font-size: ms(2);
    line-height: ms(2);
  }
  p {
    margin-top: 0;
    @include mb;
  }
  article {
    h2 {
      a {

      }
    }
  }
  article,aside,nav,section {
    h1, h2 ,h3, h4, h5, h6 {

    }
  }


