/*!
 * jQuery UI Autocomplete 1.11.4
 * http://jqueryui.com
 *
 * Copyright jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/autocomplete/#theming
 */
/*

ms(-7) = 3px
ms(-6) = 4px
ms(-5) = 5px
ms(-4) = 6px
ms(-3) = 7px
ms(-2) = 8px
ms(-1) = 10px
ms(0) = 12px
ms(1) = 14px
ms(2) = 17px
ms(3) = 21px
ms(4) = 25px
ms(5) = 30px
ms(6) = 36px
ms(7) = 43px
ms(8) = 52px
ms(9) = 62px
*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("/themes/contrib/teatheme/static/fonts/material-icons/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("/themes/contrib/teatheme/static/fonts/material-icons/MaterialIcons-Regular.woff2") format("woff2"), url("/themes/contrib/teatheme/static/fonts/material-icons/MaterialIcons-Regular.woff") format("woff"), url("/themes/contrib/teatheme/static/fonts/material-icons/MaterialIcons-Regular.ttf") format("truetype");
}

/*
@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-bold-webfont.eot');
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-bold-webfont.woff') format('woff'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-bold-webfont.ttf') format('truetype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-bold-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Bold Italic';
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-bolditalic-webfont.eot');
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-bolditalic-webfont.woff') format('woff'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-bolditalic-webfont.ttf') format('truetype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-bolditalic-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Roman';
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-roman-webfont.eot');
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-roman-webfont.eot?#iefix') format('embedded-opentype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-roman-webfont.woff') format('woff'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-roman-webfont.ttf') format('truetype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-roman-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Roman Italic';
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-italic-webfont.eot');
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-italic-webfont.woff') format('woff'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-italic-webfont.ttf') format('truetype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-italic-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Light';
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-light-webfont.eot');
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-light-webfont.woff') format('woff'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-light-webfont.ttf') format('truetype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-light-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Light Italic';
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-lightitalic-webfont.eot');
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-lightitalic-webfont.woff') format('woff'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-lightitalic-webfont.ttf') format('truetype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-lightitalic-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-medium-webfont.eot');
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-medium-webfont.woff') format('woff'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-medium-webfont.ttf') format('truetype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-medium-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Medium Italic';
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-mediumitalic-webfont.eot');
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-mediumitalic-webfont.woff') format('woff'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-mediumitalic-webfont.ttf') format('truetype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-mediumitalic-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
/*
@mixin font-helvetica-bold {
  font-family: 'Helvetica Neue Bold', sans-serif;
  @include font-normalise;
}
@mixin font-helvetica-bold-italic {
  font-family: 'Helvetica Neue Bold Italic', sans-serif;
  @include font-normalise;
}
@mixin font-helvetica-medium {
  font-family: 'Helvetica Neue Medium', sans-serif;
  @include font-normalise;
}
@mixin font-helvetica-medium-italic {
  font-family: 'Helvetica Neue Medium Italic', sans-serif;
  @include font-normalise;
}
@mixin font-helvetica-roman {
  font-family: 'Helvetica Neue Roman', sans-serif;
  @include font-normalise;
}
@mixin font-helvetica-roman-italic {
  font-family: 'Helvetica Neue Roman Italic', sans-serif;
  @include font-normalise;
}
@mixin font-helvetica-light {
  font-family: 'Helvetica Neue Light', sans-serif;
  @include font-normalise;
}
@mixin font-helvetica-light-italic {
  font-family: 'Helvetica Neue Light Italic', sans-serif;
  @include font-normalise;
}
*/
.ui-autocomplete {
  position: relative;
  top: 0 !important;
  left: 0 !important;
  cursor: default;
}

.ui-autocomplete-field-title, .container-inline .ui-autocomplete-field-title {
  display: block;
}
