@charset "UTF-8";
/*

ms(-7) = 3px
ms(-6) = 4px
ms(-5) = 5px
ms(-4) = 6px
ms(-3) = 7px
ms(-2) = 8px
ms(-1) = 10px
ms(0) = 12px
ms(1) = 14px
ms(2) = 17px
ms(3) = 21px
ms(4) = 25px
ms(5) = 30px
ms(6) = 36px
ms(7) = 43px
ms(8) = 52px
ms(9) = 62px
*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("/themes/contrib/teatheme/static/fonts/material-icons/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("/themes/contrib/teatheme/static/fonts/material-icons/MaterialIcons-Regular.woff2") format("woff2"), url("/themes/contrib/teatheme/static/fonts/material-icons/MaterialIcons-Regular.woff") format("woff"), url("/themes/contrib/teatheme/static/fonts/material-icons/MaterialIcons-Regular.ttf") format("truetype");
}

/*
@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-bold-webfont.eot');
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-bold-webfont.woff') format('woff'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-bold-webfont.ttf') format('truetype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-bold-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Bold Italic';
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-bolditalic-webfont.eot');
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-bolditalic-webfont.woff') format('woff'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-bolditalic-webfont.ttf') format('truetype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-bolditalic-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Roman';
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-roman-webfont.eot');
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-roman-webfont.eot?#iefix') format('embedded-opentype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-roman-webfont.woff') format('woff'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-roman-webfont.ttf') format('truetype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-roman-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Roman Italic';
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-italic-webfont.eot');
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-italic-webfont.woff') format('woff'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-italic-webfont.ttf') format('truetype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-italic-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Light';
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-light-webfont.eot');
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-light-webfont.woff') format('woff'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-light-webfont.ttf') format('truetype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-light-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Light Italic';
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-lightitalic-webfont.eot');
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-lightitalic-webfont.woff') format('woff'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-lightitalic-webfont.ttf') format('truetype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-lightitalic-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-medium-webfont.eot');
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-medium-webfont.woff') format('woff'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-medium-webfont.ttf') format('truetype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-medium-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Medium Italic';
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-mediumitalic-webfont.eot');
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-mediumitalic-webfont.woff') format('woff'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-mediumitalic-webfont.ttf') format('truetype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-mediumitalic-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
/*
@mixin font-helvetica-bold {
  font-family: 'Helvetica Neue Bold', sans-serif;
  @include font-normalise;
}
@mixin font-helvetica-bold-italic {
  font-family: 'Helvetica Neue Bold Italic', sans-serif;
  @include font-normalise;
}
@mixin font-helvetica-medium {
  font-family: 'Helvetica Neue Medium', sans-serif;
  @include font-normalise;
}
@mixin font-helvetica-medium-italic {
  font-family: 'Helvetica Neue Medium Italic', sans-serif;
  @include font-normalise;
}
@mixin font-helvetica-roman {
  font-family: 'Helvetica Neue Roman', sans-serif;
  @include font-normalise;
}
@mixin font-helvetica-roman-italic {
  font-family: 'Helvetica Neue Roman Italic', sans-serif;
  @include font-normalise;
}
@mixin font-helvetica-light {
  font-family: 'Helvetica Neue Light', sans-serif;
  @include font-normalise;
}
@mixin font-helvetica-light-italic {
  font-family: 'Helvetica Neue Light Italic', sans-serif;
  @include font-normalise;
}
*/
*, :after, :before {
  box-sizing: border-box;
}

.breadcrumb li:before {
  width: auto;
  height: auto;
  display: inline-block;
  float: left;
  display: inline-block;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  text-indent: 0;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  content: "";
  font-size: 21px;
  width: 21px;
  height: 21px;
  line-height: 21px;
  color: #CCCCCC;
  margin-right: 4px;
}

form {
  margin: 0;
}

form .container-inline > .form-item {
  display: inline-block;
}

fieldset.form-wrapper {
  margin: 14px 0;
  padding: 14px 14px 0 14px;
}

fieldset.form-wrapper fieldset.form-wrapper {
  margin: 0;
  padding: 0;
}

fieldset.form-item.form-composite {
  margin: 0 0 12px 0 !important;
}

fieldset.form-item.form-composite legend {
  display: inline-block;
  margin-bottom: 12px;
}

fieldset.form-item.form-composite legend span.fieldset-legend {
  display: inline-block;
}

.ui-widget {
  font-family: inherit;
  font-size: inherit;
}

input[type="text"], input[type="search"], input[type="submit"], input[type="button"] {
  border: 0px none transparent;
  padding: 0 10px;
  margin: 0;
  box-shadow: 0px 0px 0px 1px #cccccc inset;
}

input[type="text"], input[type="search"] {
  background-color: #ffffdd;
  line-height: 30px;
  height: 30px;
}

input[type="search"] {
  padding: 0 17px 0 10px;
}

input[type="submit"], input[type="button"] {
  background-color: #ffffcc;
  line-height: 30px;
  height: 30px;
}

.js input.form-autocomplete {
  border: 0px none transparent;
  background-position: calc(100% - 3px) center;
  padding: 0 17px 0 10px;
}

.js input.form-autocomplete.ui-autocomplete-loading {
  background-position: calc(100% - 3px) center;
}

.block-system-branding-block a.site-logo {
  display: inline-block;
  margin-bottom: 12px;
}

.block-system-branding-block .site-name {
  margin-bottom: 12px;
}

.block-system-branding-block .site-slogan {
  margin-bottom: 12px;
}

img {
  display: inline-block;
}

.block-system-branding-block #branding-logo img {
  margin-bottom: 12px;
}

/**
 * _layout.scss
 *
 * Layout components.
 */
body #teatheme {
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

a:link {
  color: #0000EE;
}

a:hover {
  color: #4040ff;
}

a:active {
  color: #EE0000;
}

a:focus {
  color: #EE0000;
}

a:visited {
  color: #0000EE;
}

a div {
  color: #0000EE;
}

a div:hover {
  color: #4040ff;
}

a.is-active:link {
  color: #444444;
}

a.is-active:visited {
  color: #444444;
}

article a {
  text-decoration: underline;
}

article a:visited {
  color: #551A8B;
}

article h1 a, article h2 a, article h3 a, article h4 a, article h5 a, article h6 a {
  text-decoration: none;
}

article h1 a:visited, article h2 a:visited, article h3 a:visited, article h4 a:visited, article h5 a:visited, article h6 a:visited {
  color: #0000EE;
}

a#main-content {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.field--name-body a {
  text-decoration: underline;
}

.tabs a, .tabs a.is-active {
  padding: 0;
  background-color: transparent;
}

.tabs a:hover, .tabs a.is-active:hover {
  background-color: transparent;
}

.feed-icons {
  margin-bottom: 12px;
}

.node__links:after {
  content: "";
  display: table;
  clear: both;
}

a.skip-link.visually-hidden.focusable:focus, a.skip-link.visually-hidden.focusable:active {
  display: inline-block;
  width: auto;
  margin: 14px;
  background-color: #fff;
  text-align: center;
}

#teatheme nav ul.menu li.menu-item:focus {
  background-color: transparent;
}

#teatheme nav ul.menu li.menu-item:hover {
  background-color: transparent;
}

#teatheme nav ul.menu li.menu-item.menu-item--expanded {
  background-color: transparent;
}

#teatheme nav ul.menu li.menu-item.menu-item--expanded ul.menu {
  background-color: transparent;
}

#teatheme nav.breadcrumb {
  padding-bottom: 0;
}

#teatheme nav.breadcrumb ol {
  padding: 0;
  margin: 0;
}

#teatheme nav.breadcrumb ol li {
  list-style-type: none;
  list-style-image: none;
}

#teatheme nav.breadcrumb ol:after {
  content: "";
  display: table;
  clear: both;
}

#teatheme nav.breadcrumb ol li {
  margin: 0;
  padding: 0;
}

#teatheme nav.breadcrumb ol li {
  float: left;
  clear: none;
}

#teatheme nav.breadcrumb ol li a {
  display: inline-block;
  width: auto;
  margin-bottom: 12px;
  margin-right: 4px;
}

#teatheme article ul li, #teatheme article ol li {
  margin-bottom: 12px;
}

#teatheme ul.inline, #teatheme ol.inline {
  padding: 0;
  margin: 0;
}

#teatheme ul.inline li, #teatheme ol.inline li {
  list-style-type: none;
  list-style-image: none;
}

#teatheme ul.inline:after, #teatheme ol.inline:after {
  content: "";
  display: table;
  clear: both;
}

#teatheme ul.inline li, #teatheme ol.inline li {
  margin: 0;
  padding: 0;
}

#teatheme ul.inline li, #teatheme ol.inline li {
  float: left;
  clear: none;
}

#teatheme ul.inline li a, #teatheme ol.inline li a {
  display: inline-block;
  width: auto;
  margin-bottom: 12px;
  margin-right: 17px;
}

#teatheme .item-list > ul, #teatheme .item-list > ol {
  margin-bottom: 12px;
  padding: 0;
}

#teatheme .item-list > ul li, #teatheme .item-list > ol li {
  margin: 0;
  padding: 0;
}

#teatheme nav {
  font-size: 17px;
  line-height: 21px;
}

#teatheme nav.block-menu {
  position: relative;
}

#teatheme nav.block-menu > .menu-toggle {
  margin-right: 21px;
  margin-bottom: 12px;
  height: 21px;
}

#teatheme nav.block-menu > .menu-toggle:before {
  width: auto;
  height: auto;
  display: inline-block;
  float: left;
  display: inline-block;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  text-indent: 0;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  content: "";
  font-size: 21px;
  width: 21px;
  height: 21px;
  line-height: 21px;
  color: #0000EE;
}

#teatheme nav.block-menu > .menu-toggle:hover:before {
  color: #4040ff;
}

#teatheme nav.block-menu > ul.menu-root {
  margin-left: 21px;
  float: left;
}

#teatheme nav.block-menu > ul.menu-root li.menu-item {
  float: left;
}

#teatheme nav.block-menu > ul.menu-root li.menu-item > a {
  float: left;
  margin-left: 4px;
}

#teatheme nav.block-menu > ul.menu-root li.menu-item.menu-item--parent > .menu-toggle {
  position: absolute;
  left: -21px;
}

#teatheme nav.block-menu > ul.menu-root li.menu-item:not(.menu-item--parent):before {
  position: absolute;
  left: -21px;
  width: auto;
  height: auto;
  display: inline-block;
  float: left;
  display: inline-block;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  text-indent: 0;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  content: "";
  font-size: 21px;
  width: 21px;
  height: 21px;
  line-height: 21px;
  color: #999999;
}

#teatheme nav.block-menu ul {
  position: relative;
}

#teatheme nav.block-menu ul:after {
  content: "";
  display: table;
  clear: both;
}

#teatheme nav.block-menu ul li {
  position: relative;
}

#teatheme nav.block-menu.menu-teamenu > ul.menu-root li.menu-item {
  margin: 0 0 0 21px;
}

#teatheme nav.block-menu.menu-teamenu > ul.menu-root li.menu-item.menu-item--parent > .menu-toggle {
  width: auto;
  height: auto;
  display: inline-block;
  float: left;
}

#teatheme nav.block-menu.menu-teamenu > ul.menu-root li.menu-item.menu-item--parent > .menu-toggle:before {
  display: inline-block;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  text-indent: 0;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  content: "";
  font-size: 21px;
  width: 21px;
  height: 21px;
  line-height: 21px;
  color: #0000EE;
}

#teatheme nav.block-menu.menu-teamenu > ul.menu-root li.menu-item.menu-item--parent > .menu-toggle.menu-shown:before {
  content: '\e5ce';
}

#teatheme nav.block-menu.menu-teamenu > ul.menu-root li.menu-item.menu-item--parent > .menu-toggle:hover:before {
  color: #4040ff;
}

#teatheme nav.block-menu.menu-teamenu > ul.menu-root li.menu-item ul {
  float: left;
  clear: both;
}

#teatheme nav.block-menu.menu-not-teamenu > ul.menu-root {
  clear: both;
}

#teatheme nav.block-menu.menu-not-teamenu > ul.menu-root li.menu-item {
  clear: both;
  width: 100%;
}

#teatheme nav.block-menu.menu-not-teamenu > ul.menu-root li.menu-item.menu-item--parent > .menu-toggle {
  width: auto;
  height: auto;
  display: inline-block;
  float: left;
}

#teatheme nav.block-menu.menu-not-teamenu > ul.menu-root li.menu-item.menu-item--parent > .menu-toggle:before {
  display: inline-block;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  text-indent: 0;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  content: "";
  font-size: 21px;
  width: 21px;
  height: 21px;
  line-height: 21px;
  color: #999999;
}

#teatheme nav.block-menu.menu-not-teamenu > ul.menu-root li.menu-item.menu-item--parent > .menu-toggle.menu-shown:before {
  content: '\e5cc';
}

#teatheme nav.block-menu.menu-not-teamenu > ul.menu-root li.menu-item ul {
  margin: 0 0 0 21px;
}

#teatheme nav.block-menu ul.menu li a {
  display: inline-block;
  width: auto;
  margin-bottom: 12px;
}

#teatheme nav.menu-teamenu ul.menu {
  padding: 0;
  margin: 0;
}

#teatheme nav.menu-teamenu ul.menu li {
  list-style-type: none;
  list-style-image: none;
}

#teatheme nav.menu-teamenu ul.menu:after {
  content: "";
  display: table;
  clear: both;
}

#teatheme nav.menu-teamenu ul.menu li {
  margin: 0;
  padding: 0;
}

#teatheme nav.menu-teamenu ul.menu li {
  display: inline-block;
}

#teatheme nav.menu-not-teamenu ul.menu li {
  list-style-type: none;
  list-style-image: none;
}

#teatheme nav:not(.menu-not-teamenu) ul.menu li, #teatheme nav:not(.menu-teamenu) ul.menu li {
  list-style-type: none;
  list-style-image: none;
}

#teatheme nav:not(.menu-teamenu) ul.menu {
  padding: 0;
  margin: 0;
  margin-left: 21px;
}

#teatheme nav:not(.menu-teamenu) ul.menu li {
  list-style-type: none;
  list-style-image: none;
}

#teatheme nav:not(.menu-teamenu) ul.menu:after {
  content: "";
  display: table;
  clear: both;
}

#teatheme nav:not(.menu-teamenu) ul.menu li {
  margin: 0;
  padding: 0;
}

#toolbar-administration nav.toolbar-lining ul.menu {
  margin: 0;
}

.block-system-powered-by-block {
  margin-bottom: 12px;
}

.messages {
  margin-bottom: 12px;
}

.block {
  position: relative;
}

.region {
  border-bottom: 1px solid #e3e3e3;
}

.region .region-inner {
  margin: 0 auto 0 auto;
}

.region .region-inner:after {
  content: "";
  display: table;
  clear: both;
}

.region.region-secondary-menu {
  background-color: #efefef;
}

.region.region-secondary-menu .region-inner {
  background-color: #efefef;
}

.region.region-header {
  background-color: #f9f9f9;
}

.region.region-header .region-inner {
  background-color: #ffffff;
}

.region.region-primary-menu {
  background-color: #efefef;
}

.region.region-primary-menu .region-inner {
  background-color: #efefef;
}

.region.region-content {
  background-color: #f9f9f9;
}

.region.region-content .region-inner {
  background-color: #ffffff;
}

.region.region-footer {
  background-color: #efefef;
}

.region.region-footer .region-inner {
  background-color: #efefef;
}

/*

// search block form:

<div class="search-block-form contextual-region block block-search" data-drupal-selector="search-block-form" id="block-tea-searchform" role="search">
<form action="/search/node" method="get" id="search-block-form" accept-charset="UTF-8" class="form-autocomplete ui-autocomplete-input" data-id="search_block" autocomplete="off" data-drupal-form-fields="edit-keys">
<div class="js-form-item form-item js-form-type-search form-type-search js-form-item-keys form-item-keys form-no-label">
<label for="edit-keys" class="visually-hidden">Search</label>
<input title="Enter the terms you wish to search for." data-drupal-selector="edit-keys" class="form-autocomplete form-search ui-autocomplete-input" data-key="search_block" type="search" id="edit-keys" name="keys" value="" size="15" maxlength="128" autocomplete="off">
<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
<input data-drupal-selector="edit-submit" type="submit" id="edit-submit" value="Search" class="button js-form-submit form-submit">

  */
#search-block-form:after, #search-form:after, #search-api-page-block-form:after {
  content: "";
  display: table;
  clear: both;
}

#search-block-form div.form-item, #search-form div.form-item, #search-api-page-block-form div.form-item {
  margin: 0 0 12px 0;
}

#search-block-form .form-actions, #search-form .form-actions, #search-api-page-block-form .form-actions {
  display: inline-block;
  margin: 0 0 12px 0;
}

#search-block-form div.form-item, #search-api-page-block-form div.form-item {
  display: inline-block;
}

.ui-menu .ui-menu-item {
  padding: 0 0 12px 0;
}

.ui-menu .ui-menu-divider {
  display: none;
}

html {
  font-size: 17px;
  line-height: 17px;
}

#teatheme {
  font-family: sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: #444444;
}

.site-name {
  font-size: 21px;
  line-height: 21px;
}

.site-name a {
  display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 12px 0;
  display: inline-block;
  font-weight: normal;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  display: inline-block;
}

h1 {
  font-size: 30px;
  line-height: 30px;
}

h2 {
  font-size: 25px;
  line-height: 25px;
}

.block-menu h2 {
  font-size: 17px;
  line-height: 21px;
}

.menu-teamenu h2, .menu-not-teamenu h2 {
  margin: 0 4px 12px 0;
  display: inline-block;
  float: left;
}

h3 {
  font-size: 21px;
  line-height: 21px;
}

h4 {
  font-size: 17px;
  line-height: 17px;
}

h5 {
  font-size: 17px;
  line-height: 17px;
}

h6 {
  font-size: 17px;
  line-height: 17px;
}

p {
  margin-top: 0;
  margin-bottom: 12px;
}

@media (min-width: 0) and (max-width: 679px){
  #teatheme .region .region-inner{
    max-width: 100%;
    padding: 12px 12px 0 12px;
  }
}

@media (min-width: 680px) and (max-width: 999px){
  #teatheme .region .region-inner{
    max-width: 640px;
    padding: 12px 12px 0 12px;
  }
}

@media (min-width: 1000px) and (max-width: 1319px){
  #teatheme .region .region-inner{
    max-width: 960px;
    padding: 12px 12px 0 12px;
  }
}

@media (min-width: 1320px){
  #teatheme .region .region-inner{
    max-width: 1280px;
    padding: 12px 12px 0 12px;
  }
}

@media (min-width: 0) and (max-width: 999px){
  #teatheme nav.block-menu.menu-teamenu .menu-toggle:not(.menu-shown).menu-hovered ~ ul.menu{
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal;
  }
  #teatheme nav.block-menu.menu-teamenu > ul.menu-root{
    clear: both;
  }
  #teatheme nav.block-menu.menu-teamenu > ul.menu-root li{
    clear: both;
    width: 100%;
  }
  #teatheme nav.block-menu.menu-teamenu > ul.menu-root li ul{
    margin: 0 0 0 21px;
  }
}

@media (min-width: 1000px){
  #teatheme nav.block-menu.menu-teamenu > h1, #teatheme nav.block-menu.menu-teamenu h2, #teatheme nav.block-menu.menu-teamenu h3, #teatheme nav.block-menu.menu-teamenu h4, #teatheme nav.block-menu.menu-teamenu h5, #teatheme nav.block-menu.menu-teamenu h6{
    display: none;
  }
  #teatheme nav.block-menu.menu-teamenu > .menu-toggle{
    display: none;
  }
  #teatheme nav.block-menu.menu-teamenu > ul.menu-root > li.menu-item{
    position: relative;
    clear: none;
    margin-right: 21px;
    white-space: nowrap;
    width: auto;
  }
  #teatheme nav.block-menu.menu-teamenu > ul.menu-root > li.menu-item > ul.menu{
    position: absolute;
    z-index: 401;
    top: 24px;
    left: -12px;
    background-color: #ffffff;
    box-shadow: 0px 0px 0px 1px #cccccc inset;
    width: 320px;
    padding: 12px 12px 0 12px;
    margin: 0 0 25px 0;
  }
  #teatheme nav.block-menu.menu-teamenu > ul.menu-root > li.menu-item > ul.menu li{
    clear: both;
    white-space: normal;
    width: calc(100% - 21px);
  }
  #teatheme nav.block-menu.menu-teamenu > ul.menu-root > li.menu-item > ul.menu li ul{
    margin: 0 0 0 0;
  }
  #teatheme nav.block-menu.menu-teamenu > ul.menu-root > li.menu-item:hover > ul, #teatheme nav.block-menu.menu-teamenu > ul.menu-root > li.menu-item:focus > ul{
    z-index: 402;
  }
  #teatheme nav.block-menu.menu-not-teamenu > h1, #teatheme nav.block-menu.menu-not-teamenu h2, #teatheme nav.block-menu.menu-not-teamenu h3, #teatheme nav.block-menu.menu-not-teamenu h4, #teatheme nav.block-menu.menu-not-teamenu h5, #teatheme nav.block-menu.menu-not-teamenu h6{
    display: none;
  }
  #teatheme nav.block-menu.menu-not-teamenu > .menu-toggle{
    display: none;
  }
}

@media (min-width: 680px){
  .region .region-inner{
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
  }
}
