/**
 * Reusable colors.
 */
.color-success {
  color: #325e1c;
  background-color: #f3faef;
}

.color-warning {
  color: #734c00;
  background-color: #fdf8ed;
}

.color-error {
  color: #a51b00;
  background-color: #fcf4f2;
}
