.skip-link{left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);z-index:50;background:#444;color:#fff;font-size:.94em;padding:1px 10px 2px;border-radius:0 0 10px 10px}.skip-link:focus{text-decoration:none}.skip-link.visually-hidden.focusable:focus{position:absolute!important}