{#
/**
 * @file
 * Theme override for the messages block.
 *
 * Removes wrapper elements from block so that empty block does not appear when
 * there are no messages.
 *
 * Available variables:
 * - content: The content of this block.
 *
 *  {{ kint(content) }}
 *
 */
#}
{% if content %}
  {{ content }}
{% endif %}
