@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/themes/contrib/teatheme/static/fonts/material-icons/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url('/themes/contrib/teatheme/static/fonts/material-icons/MaterialIcons-Regular.woff2') format('woff2'),
  url('/themes/contrib/teatheme/static/fonts/material-icons/MaterialIcons-Regular.woff') format('woff'),
  url('/themes/contrib/teatheme/static/fonts/material-icons/MaterialIcons-Regular.ttf') format('truetype');
}

@mixin materialicon($content:'',$color:rgba(153,153,153,1),$size:16) {
  display: inline-block;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  text-indent: 0;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  content: '#{$content}';
  font-size: #{$size}px;
  width: #{$size}px;
  height: #{$size}px;
  line-height: #{$size}px;
  color: $color;
}

@mixin iconbox {
  width: auto;
  height: auto;
  display: inline-block;
  float: left;
}
