@mixin menu-nested {
  > .menu-toggle {
    margin-right: ms(3);
    @include mb;
    height: 21px;

    &:before {
      @include iconbox;
      @include materialicon('\e5d2',$link-color-default,21);
    }
    &:hover {
      &:before {
        color: $link-color-hover;
      }
    }
  }
  > ul.menu-root {
    margin-left: 21px;
    float: left;
    li.menu-item {
      float: left;
      > a {
        float: left;
        margin-left: ms(-6);
      }
      &.menu-item--parent {
        > .menu-toggle {
          position: absolute;
          left: -21px;
        }
      }
      &:not(.menu-item--parent) {
        &:before {
          position: absolute;
          left: -21px;
          @include iconbox;
          @include materialicon('\e5cc', #999999, 21);
        }
      }
    }
  }
  ul {
    position: relative;
    @include clearfix;
    li {
      position: relative;
    }
  }
  &.menu-teamenu {
    @include breakpoint(0 $break1end) {
      .menu-toggle:not(.menu-shown).menu-hovered ~ ul.menu {
        @include visually-hidden;
      }
    }
    @include breakpoint($break2start, true) {
      > h1,h2,h3,h4,h5,h6 {
        display: none;
      }
      > .menu-toggle {
        display: none;
      }
    }
    > ul.menu-root {
      li.menu-item {
        margin: 0 0 0 21px;
        &.menu-item--parent {
          > .menu-toggle {
            @include iconbox;
            &:before {
              @include materialicon('\e5cf',$link-color-default,21);
            }
            &.menu-shown {
              &:before {
                content: '\e5ce';
              }
            }
            &:hover {
              &:before {
                color: $link-color-hover;
              }
            }
          }
        }
        ul {
          float: left;
          clear: both;
        }
      }
      @include breakpoint(0 $break1end) {
        clear: both;
        li {
          clear: both;
          width: 100%;
          ul {
            margin: 0 0 0 ms(3);
          }
        }
      }
      @include breakpoint($break2start, true) {
        > li.menu-item {
          position: relative;
          clear: none;
          margin-right: ms(3);
          white-space: nowrap;
          width: auto;
          > ul.menu {
            position: absolute;
            z-index: 401;
            top: 24px;
            left: -(ms(0));
            background-color: #ffffff;
            @include box-shadow(0px, 0px, 0px, 1px, '#cccccc', inset);
            width: 320px;
            padding: ms(0) ms(0) 0 ms(0);
            margin: 0 0 ms(4) 0;
            li {
              clear: both;
              white-space: normal;
              width: calc(100% - 21px);
              ul {
                margin: 0 0 0 0;
              }
            }
          }
          &:hover, &:focus {
            > ul {
              z-index: 402;
            }
          }
        }
      }
    }
  }
  &.menu-not-teamenu {
    @include breakpoint($break2start, true) {
      > h1,h2,h3,h4,h5,h6 {
        display: none;
      }
      > .menu-toggle {
        display: none;
      }
    }
    > ul.menu-root {
      clear: both;
      li.menu-item {
        clear: both;
        width: 100%;
        &.menu-item--parent {
          > .menu-toggle {
            @include iconbox;
            &:before {
              @include materialicon('\e5cc', #999999, 21);
            }
            &.menu-shown {
              &:before {
                content: '\e5cc';
              }
            }
          }
        }
        ul {
          margin: 0 0 0 ms(3);
        }
      }
    }
  }
}
