@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin mb {
  margin-bottom: ms(0);
}

@mixin pb {
  padding-bottom: ms(0);
}

@mixin box-shadow($left:0px, $top:0px, $blur:0px, $spread:0px, $color:"#cccccc", $inset:"inset") {
  -webkit-box-shadow: $left $top $blur $spread $color #{$inset};
  -moz-box-shadow: $left $top $blur $spread $color #{$inset};
  box-shadow: $left $top $blur $spread $color #{$inset};
}

@mixin visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}
