/*
@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-bold-webfont.eot');
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-bold-webfont.woff') format('woff'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-bold-webfont.ttf') format('truetype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-bold-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Bold Italic';
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-bolditalic-webfont.eot');
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-bolditalic-webfont.woff') format('woff'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-bolditalic-webfont.ttf') format('truetype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-bolditalic-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Roman';
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-roman-webfont.eot');
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-roman-webfont.eot?#iefix') format('embedded-opentype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-roman-webfont.woff') format('woff'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-roman-webfont.ttf') format('truetype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-roman-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Roman Italic';
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-italic-webfont.eot');
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-italic-webfont.woff') format('woff'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-italic-webfont.ttf') format('truetype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-italic-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Light';
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-light-webfont.eot');
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-light-webfont.woff') format('woff'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-light-webfont.ttf') format('truetype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-light-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Light Italic';
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-lightitalic-webfont.eot');
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-lightitalic-webfont.woff') format('woff'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-lightitalic-webfont.ttf') format('truetype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-lightitalic-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-medium-webfont.eot');
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-medium-webfont.woff') format('woff'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-medium-webfont.ttf') format('truetype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-medium-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Medium Italic';
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-mediumitalic-webfont.eot');
  src: url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-mediumitalic-webfont.woff') format('woff'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-mediumitalic-webfont.ttf') format('truetype'),
  url('/themes/contrib/teatheme/static/fonts//helvetica-neue/helveticaneue-mediumitalic-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
@mixin font-normalise {
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
}
/*
@mixin font-helvetica-bold {
  font-family: 'Helvetica Neue Bold', sans-serif;
  @include font-normalise;
}
@mixin font-helvetica-bold-italic {
  font-family: 'Helvetica Neue Bold Italic', sans-serif;
  @include font-normalise;
}
@mixin font-helvetica-medium {
  font-family: 'Helvetica Neue Medium', sans-serif;
  @include font-normalise;
}
@mixin font-helvetica-medium-italic {
  font-family: 'Helvetica Neue Medium Italic', sans-serif;
  @include font-normalise;
}
@mixin font-helvetica-roman {
  font-family: 'Helvetica Neue Roman', sans-serif;
  @include font-normalise;
}
@mixin font-helvetica-roman-italic {
  font-family: 'Helvetica Neue Roman Italic', sans-serif;
  @include font-normalise;
}
@mixin font-helvetica-light {
  font-family: 'Helvetica Neue Light', sans-serif;
  @include font-normalise;
}
@mixin font-helvetica-light-italic {
  font-family: 'Helvetica Neue Light Italic', sans-serif;
  @include font-normalise;
}
*/
