/**
* Reusable utility classes that apply vertical spacing consistency and in line
* with the base line height of Seven.
*/
.leader {
  margin-top: 20px;
  margin-top: 1.538rem;
}

.leader-double {
  margin-top: 40px;
  margin-top: 3.076rem;
}

.leader-triple {
  margin-top: 60px;
  margin-top: 4.614rem;
}

.leader-quadruple {
  margin-top: 80px;
  margin-top: 6.152rem;
}

.trailer {
  margin-bottom: 20px;
  margin-bottom: 1.538rem;
}

.trailer-double {
  margin-bottom: 40px;
  margin-bottom: 3.076rem;
}

.trailer-triple {
  margin-bottom: 60px;
  margin-bottom: 4.614rem;
}

.trailer-quadruple {
  margin-bottom: 80px;
  margin-bottom: 6.152rem;
}
