/*!
 * jQuery UI Autocomplete 1.11.4
 * http://jqueryui.com
 *
 * Copyright jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/autocomplete/#theming
 */.ui-autocomplete{position:relative;top:0!important;left:0!important;cursor:default}.container-inline .ui-autocomplete-field-title,.ui-autocomplete-field-title{display:block}