/*!
 * jQuery UI Autocomplete 1.11.4
 * http://jqueryui.com
 *
 * Copyright jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/autocomplete/#theming
 */

 // npm library imports
@import "compass";
@import "breakpoint";

// teatheme global imports
@import "teatheme-global/_variables";
@import "teatheme-global/_mixins";

.ui-autocomplete {
	position: relative;
	top: 0 !important;
	left: 0 !important;
	cursor: default;
}

.ui-autocomplete-field-title, .container-inline .ui-autocomplete-field-title {
  display: block;
}
